.btn {
    color: #F2F2EF;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    line-height: 45px;
    margin: 0 0 2em;
    max-width: 270px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
    margin: 50px auto;
    display: block;
    text-align: center;
}

.btn-1 {
    background: rgba(41, 41, 41, 0);
    font-weight: 100;
}

.btn-1 svg {
    height: 45px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.btn-1 rect {
    fill: none;
    stroke:#F2F2EF;
    stroke-width: 5;
    stroke-dasharray: 422, 0;
    transition: all 0.35s linear;
}

.btn-1:hover {
    background: rgba(41, 41, 41, 0);
}

.btn-1:hover rect {
    stroke-width: 5;
    stroke-dasharray: 15, 312;
    stroke-dashoffset: 48;
    transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}