body {
    font-family: 'Montserrat', sans-serif;
    background-color: #292929;
    color: #F2F2EF;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.major {
    font-family: 'Signika', sans-serif;
}

#evenements {
    font-family: 'Montserrat', sans-serif;
    background-color: #F2F2EF;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.vignette img{
    height: 200px;
    filter: brightness(50%);
}

.vignette {
    margin: 10px 10px 10px 10px;
    display: inline-block;
    position: relative;
}

.vignette p {
    position: absolute;
    bottom: 8px;
    left: 8px;
}

#event_roll {
    overflow-x: hidden;
    width: 5000px;
}

#event_middle {
    margin: auto;
}

.horizontal_line {
    border-top: 5px solid #973835;
    width: 500px;
    display: inline-block;
}

#mot_evenement {
    color: #973835;
    margin: 0px 32px 0px 32px;
}

footer {
    background-color: #973835;
}

.cinelogo {
    max-width: 5%;
    position: fixed;
    top: 32px;
    left: 32px;
}

#tete_page {
    position: fixed;
    top: 32px;
    right: 32px;
}

header *{
    z-index: 1;
}

.logo {
    max-width: 5%;
}

#tete_page li {
    display: inline-block;
    margin: 16px 16px 16px 16px;
}

#tete_page li a, #tete_page li a:visited {
    color: #F2F2EF;
    text-decoration: none;
}

#bas_page li a, #bas_page li a:visited {
    color: #F2F2EF;
    text-decoration: none;
}

#programmation img{
    max-width: 10%;
}

#img_cine {
    height: 100vh;
}

#slides_elements{
    position: relative;
    bottom: 40px;
    left: 40px;
}

#slides_elements img{
    max-width: 2%;
}

h2 {
    font-family: 'Signika', sans-serif;
}
p{
    font-family: 'Montserrat', sans-serif; 
}

h1{
    font-family: 'Signika', sans-serif; 
}
