body {
    font-family: 'Montserrat', sans-serif;
    background-color: #292929;
    color: #F2F2EF;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    overflow-x: hidden;
    width: 100vw;
}

#evenements {
    font-family: 'Montserrat', sans-serif;
    background-color: #F2F2EF;
    height: 300vh;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    position: relative;
    overflow-x: hidden;
}

.vignette img{
    height: 200px;
    filter: brightness(50%);
}

.vignette {
    margin: 10px 10px 10px 10px;
    display: inline-block;
    position: relative;
}

.vignette p {
    position: absolute;
    bottom: 8px;
    left: 8px;
}

#event_roll {
    white-space: nowrap;
    width: 100vw;
    overflow-x: hidden;
}

#event_middle {
    display: flex;
    align-items: center;
}

#event_top, #event_bottom {
    position: relative;
}

#event_top{
    left: 0px;
    transition: left 1s;
}

#event_bottom{
    right: 0px;
    transition: right 1s;
}

.horizontal_line {
    border-top: 5px solid #973835;
    flex-grow: 1;
}

#mot_evenement {
    color: #973835;
    margin: 0px 32px 0px 32px;
    font-size: 25px;
}


#cercles {
    background-color: #F2F2EF;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

#texte_cercle {
    color: #973835;
    transition: 0.6s ease;
}

.cercle {
    transition: 0.6s ease;
    width: 250px;
    height: 250px;
    border: 4px solid #973835;
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cercles_organisation {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    align-items: center;
}

#cercles img {
    max-width: 6vh;
}

.alignement {
    margin: auto;
}

.horizontal_line_circles {
    border-top: 5px solid #292929;
    width: 200px;
}

footer {
    background-color: #973835;
    padding-top: 20px;
}

footer ul{
    margin-top: 0;
}

.cinelogo {
    max-width: 5%;
    position: fixed;
    top: 32px;
    left: 32px;
}

.logoprog{
    position: absolute;
}

#tete_page {
    position: fixed;
    top: 32px;
    right: 32px;
}

#tete_page_prog {
    position: absolute;
    top: 32px;
    right: 32px;
}

header *{
    z-index: 1;
}

#tete_page li, #tete_page_prog li {
    display: inline-block;
    margin: 16px 16px 16px 16px;
}

#tete_page li a, #tete_page li a:visited, #tete_page_prog li a, #tete_page_prog li a:visited {
    color: #F2F2EF;
    text-decoration: none;
}

/*#tete_page li a:hover{
    border-bottom: 2px solid #F2F2EF;
}*/

/* DEBUT ANIMATION SURLIGNEMENT */

.menu{
    position: relative;
}

.anim:after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background: #F2F2EF;
    transition: width 500ms ease;
}

.anim:hover:after{
    width: 100%;
}

/* FIN ANIMATION SURLIGNEMENT */

#bas_page li {
    list-style-type: none;
}

#bas_page li a, #bas_page li a:visited {
    color: #F2F2EF;
    text-decoration: none;
}

/*#bas_page li a:hover{
    border-left: 2px solid #F2F2EF;
    padding-left: 3px;
}*/

/* DEBUT ANIMATION SURLIGNEMENT FOOTER*/

.submenu{
    position: relative;
}

.anim_footer:after{
    content: '';
    position: absolute;
    left: -10px;
    bottom: 0;
    width: 0;
    height: 0px;
    background: #F2F2EF;
    transition: width 500ms ease;
    transition: height 500ms ease;
}

.anim_footer:hover:after{
    width: 2px;
    height: 100%;
}

/* FIN ANIMATION SURLIGNEMENT FOOTER*/

#mentions, #mentions:visited {
    color: #F2F2EF;
    text-decoration: none;
}

.img_cine {
    height: 100vh;
    width: 40vw;
}

#slides_elements_flex {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 40px;
}

#slides_elements *{
    padding-left: 10px;
    padding-right: 10px;
}

#slides_elements img{
    max-width: 3vh;
}

#slides {
    margin-right: 64px;
    height: 100vh;
    width: 40vw;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    left: -40vw;
    transition: left 2s;
    position: relative;
}

#slidesVBar {
    background: #973835;
    position: absolute;
    top: 0;
    right: 0px;
    height: 0%;
    width: 5px;
}

#slideshow {
    width: 249vh;
    white-space: nowrap;
    position: relative;
    left: 0vw;
    transition: left 2s;
}

#slideshow img {
    display: inline-block;
}

#fleche_droite{
    transform: rotate(180deg);
}

.progra_film {
    height: 200px;
    display: flex;
    align-items: center;
    border-bottom: 5px solid #973835;
    padding-bottom: 16px;
    margin-bottom: 16px;
    margin-left: 70px;
}

.progra_film_jurassic {
    height: 200px;
    display: flex;
    align-items: center;
    border-bottom: 5px solid #973835;
    padding-bottom: 16px;
    margin-bottom: 16px;
    margin-left: 70px;
    padding-top: 75px;
}

.progra_film_fin {
    height: 200px;
    display: flex;
    align-items: center;
    padding-bottom: 16px;
    margin-bottom: 16px;
    margin-left: 70px;
}

.progra_titre_progra{
    max-height: 100vw;
    margin: 0px 100px 10px 100px;
}



.progra_affiche, .progra_affiche img{
    height: 100%;
}

.progra_affiche {
    width: 150px;
}

.progra_texte {
    max-width: 50vw;
    margin: 0px 32px 0px 32px;
}


.progra_ligne_v {
    border-left: 5px solid #F2F2EF;
    height: 100%;
}

#programmation {
    margin: 32px 32px 32px 32px;
}

#programmation p {
    font-size: 15px;
}

#programmation h2 {
    font-size: 26px;
}

.progra_horaires {
    margin-left: 32px;
}

.progra_date a, .progra_date a:visited {
    color: #F2F2EF;
    text-decoration: none;
}

.progra_date {
    display: flex;
    justify-content: center;
}

.progra_date p{
    margin: 0px 16px 0px 16px;
}

.ligne_horaire {
    display: flex;
}

.progra_heure {
    background-color: #F2F2EF;
    color: #292929;
    width : 3em; 
    margin: 8px 8px 8px 8px;
    padding: 16px 16px 16px 16px;
    border-radius: 25px;
}

#presentation {
    display: flex;
    align-items: center;
}

#presentation aside {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    width: 40vw;
}

#presentation aside h1{
    font-size: 36px;
    text-align: center;
    margin-bottom: 0;
}

.aside_line, .titre, #aside_subtext {
    position: relative;
    right: -50vw;
    transition: right 1s;
}

.titre{
    text-align: center;
}

.titre p{
    margin-top: 0;
    margin-bottom: 50px;
    font-size: 18px;
}

.container-affiche{
    width: 50vw;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top:30px;

}

.container-affiche p {
    font-size : 25px;
}

.liste-affiche{
    display: flex;
    width: 100vw;
    flex-wrap: wrap;
}

.container-image{
    height: 488px;
    width: 360px;
    display: block;
    position: relative;
    overflow: hidden;
}

.container-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container-image video {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 0.33s
}

.container-image:hover video {
    opacity: 1;
}

#affiche_line {
    display: flex;
    flex-direction: row;
    align-items: middle;
    justify-content: center;
    transform: rotate(90deg);
    position: relative;
    bottom: 800px;

    display: none;
}

#affiches {
    position: relative;
}

.centered_line {
    position: absolute;
    top: 30px;
    bottom: 90px;
    left: 50%;
    width: 5px;
    background: #F2F2EF;
    transform: translateX(-50%);
} 

.centered_label {
    position: sticky;
    display: block;
    top: 40vh;
    transform: rotate(-90deg);
    height: 250px;
    width: 185px;
}



.centered_label span{
    color:#F2F2EF;
    font-size: 25px;
    display: block;
    background: #292929;
    padding: 20px;
    width: 155px;
    white-space: nowrap;
}

.vertical_line{
    border-top: 5px solid #F2F2EF;
    flex-grow: 1;
    
}

.mot_affiche {
    color:#F2F2EF;
    margin: 0px 32px 0px 32px;
    font-size: 25px;
    position: relative;
    bottom: 10px;
    transform: rotate(180deg)
}

.cercle:hover {
    background-color: #973835;
}

.cercle:hover h2 {  
    color: #F2F2EF !important;
}

.cercle .fa-plus {
    color: #973835;
    transition: 0.6s ease;
    
}

.cercle:hover .fa-plus {
    color: #F2F2EF;
}

.container-image {
       display: block;
}

.container-image:hover > .video-test {
        display: block;
}

.vertical_line_bas {
    border-top: 5px solid #F2F2EF;
    width: 175px;
    height: 0;
    transform: rotate(90deg);
    position: relative;
    top: 75px;
}

footer{
    display: flex;
    flex-direction: column;
}

.footer_icons{
    text-align: right;
    margin-right: 50px;
}

.icons{
    max-width: 2vw;
}

.logo{
    max-width: 5%;
}

.footer_top{
    display: flex;
    align-items: stretch;
    justify-content: center;
    justify-content: space-between;
    margin-left: 200px;
    margin-right: 200px;
}

.footer_bottom{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}

.footer_left, .footer_left p, .footer_left a{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer_left p{
    margin-left: 40px;
}

.footer_right{
    display: flex;
    flex-direction: column;
}

.footer_right p{
    text-align: center;
    margin: 0;
}

p.espace{
    margin-bottom: 10px;
    font-weight: bold;
}

.scroll_nav {
    position: fixed;
    display: flex;
    justify-content: center;
    align-content: center;
    bottom: 32px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;
}

.scroll_nav img {
    width: 100%;
}

#souris {
    width: 45px;
    position: relative;
    transition: bottom 0.2s;
    bottom: 0px;
}

.cercle div p {
    width: 90%;
    margin: auto;
    padding-bottom: 16px;
}

#mangrela_img{
    width: 100vw;
    height: 100vh;
}

.centered_body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.centered_text{
    width: 50vw;
    overflow: hidden;
    text-overflow: initial;
}

.h1_film{
   text-align: center;
   height: 100px;
   margin-bottom: 15px;
   margin-top: 150px;
}

.info_film{
    max-width: 50vw;
    margin: 0px 32px 0px 32px
}

