body {
    font-family: 'Montserrat', sans-serif;
    background-color: #292929;
    color: #F2F2EF;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.major {
    font-family: 'Signika', sans-serif;
}

#evenements {
    font-family: 'Montserrat', sans-serif;
    background-color: #F2F2EF;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.vignette {
    height: 200px;
    margin: 10px 10px 10px 10px;
}

#event_roll {
    overflow-x: hidden;
    width: 5000px;
}

#event_middle {
    margin: auto;
}

.horizontal_line {
    border-top: 5px solid #973835;
    width: 500px;
    display: inline-block;
}

#mot_evenement {
    color: #973835;
    margin: 0px 32px 0px 32px;
}

#presentation img{
    max-width: 5%;
}

.cinelogo {
    max-width: 5%;
}

footer {
    background-color: #973835;
}

#tete_page li {
    display: inline-block;
}

#tete_page li a, #tete_page li a:visited {
    color: #F2F2EF;
    text-decoration: none;
}